*{margin: 0px; padding: 0px;}
.footer{
    text-align: center;
    border-top: solid 3px orange;
    margin-top:0px;
    padding-top: 10px;
    background-color: lightcyan;
}

.wrapper {
    display: inline-flex;
    justify-content: center;
}

.wrapper i {
    padding: 10px;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
    transition: all ease-in-out 150ms;
}

.wrapper a:nth-child(1) {
    color: #dd4b39;
}

.wrapper a:nth-child(2) {
   color: #4867AA;
}

.wrapper a:nth-child(3) {
   color: #1DA1F2;
}

.wrapper a:nth-child(4) {
    color: blue;
}
.wrapper a:nth-child(5) {
    color: blue;
}

.wrapper i:hover {
    margin-top: -3px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}