{% extends "busTicketBooking/base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block css %}
    .container {
         background-image: url({% static 'busTicketBooking/images/bus.jpg' %});
    }
{% endblock css %}

{% block content %}

<div class="container" >
    <div class="row">
        <div class="col-sm-6 containertext">
            <span style="font-weight: bold;">Welcome to</span><br>
            Bus<br>
            E-Ticketing<br>
            Service<br>
        </div>
        <div class="col-sm-6 containerform">
            <form  autocomplete="off" action="{% url 'home' %}" method="get">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" name="SearchBus" value="Search Buses"><br>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function() {
        var station_list = [
            'Dhaka',
            'Khulna',
            'Chattagram',
            'Barisal',
            'Sylhet'
        ];
        $("#id_start_station, #id_destination").autocomplete({
            {% comment %}source: "{% url 'get_station' %}"{% endcomment %}
            source: station_list.sort()
        });
    });

    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    var futureDate = new Date(date.getFullYear(), date.getMonth() + 2, date.getDate());

    $('#id_date_of_journey').datepicker({
        format: 'yyyy/mm/dd',
        minDate: today,
        maxDate: futureDate
    });

</script>

{% endblock content %}

