<div class="nav">
    <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title" style="color: darkorange;">
      Bus Ticket Booking
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="{% url 'home' %}">Home</a>
    <a href="" target="_blank">Cancel Ticket</a>
    <a href="" target="_blank">Bus Reservation</a>
    <a href="" target="_blank">Verify Ticket</a>
    <a href="" target="_blank">Contact Us</a>
  </div>
</div>