{% extends "busTicketBooking/base.html" %}
{% load static %}

{% block title %}Seat Booking{% endblock title %}

{% block css %}
    #payment {
        background-color: green;
        color: white;
        width: auto;
        height: 30px;

    }
{% endblock css %}
{% block content %}
<script>
    let seatList = {{ seat_list|safe }};
    function printSeatList() {
        let element = document.getElementById("seat-no");
        for(let i = 0; i < seatList.length; i++) {
           element.innerText += seatList[i];
           if(i < seatList.length - 1)element.innerText += ','
        }
    }
</script>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                Passenger Information
                <form id="passenger-info-form" action="{% url 'seat_booking' %}"  method="post"  onsubmit="addInfo()">
                    {% csrf_token %}
                    {{ form.non_field_errors}}
                    {% for field in form.visible_fields %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                </form>
            </div>
            <div class="col-md-6 text-center" >
                <h3>Journey Details</h3>
                <h4>{{ trip.start_station }}-{{ trip.destination }}</h4><br>
                {{ trip.bus.operator_name }}<br>
                {{ trip.start_time}}<br>
                <span id="seat-no">Seat No(s):</span>
                <script>
                    printSeatList();
                </script>
                <br>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
           <div class="col-md-4">
               <div class="align-middle" id="payment">Payment Details</div>
               <h5>Fare Details</h5>
               <table id="fare-table" class="table table-condensed">
                   <tbody>
                       <tr>
                           <td>
                               Ticket Price
                           </td>
                           <td>
                               {{ total_fare }}
                           </td>
                       </tr>
                       <tr>
                           <td>
                               Website Fee
                           </td>
                           <td id="website-fee">
                           </td>
                           <script>
                               $('#website-fee').text(seatList.length * 10);
                           </script>
                       </tr>
                       <tr>
                           <td>
                               Processing Fee
                           </td>
                           <td id="processing-fee">
                           </td>
                           <script>
                               $('#processing-fee').text(seatList.length * 5);
                           </script>
                       </tr>
                       <tr>
                           <td>
                               Total
                           </td>
                           <td id="total-amount">
                           </td>
                           <script>
                               let websiteFee = $('#website-fee').text();
                               let processingFee = $('#processing-fee').text();
                               let otherFee = parseInt(websiteFee.toString()) + parseInt(processingFee.toString());
                               let totalFee = {{ total_fare }} + otherFee;
                               $('#total-amount').text(totalFee);
                           </script>
                       </tr>
                   </tbody>
               </table>
           </div>
        </div>
        <input type="submit" style="color:white" id="Confirm" value="Confirm Reservation" onclick="addInfo()">
    </div>
</div>
<script>
function  addInfo() {
    let form = document.getElementById("passenger-info-form");

    // seat list
    var hiddenField = document.createElement('input');
    hiddenField.type = 'hidden';
    hiddenField.name = 'seat_list';
    hiddenField.value = JSON.stringify(seatList);
    form.appendChild(hiddenField);

    // fare
    var hiddenField = document.createElement('input');
    hiddenField.type = 'hidden';
    hiddenField.name = 'total_fare';
    hiddenField.value = '{{ total_fare }}';
    form.appendChild(hiddenField);

     // payable fee
    var hiddenField = document.createElement('input');
    hiddenField.type = 'hidden';
    hiddenField.name = 'total_payable_fee';
    hiddenField.value = $('#total-amount').text().toString();
    form.appendChild(hiddenField);

    // trip
    hiddenField = document.createElement('input');
    hiddenField.type = 'hidden';
    hiddenField.name = 'trip_id';
    hiddenField.value = '{{ trip.id }}';
    form.appendChild(hiddenField);

    submitForm();
}
function submitForm() {
    let form = document.getElementById("passenger-info-form");
    form.submit();
}
</script>
{% endblock content %}