
{% comment %}{% extends "busTicketBooking/base.html" %}{% endcomment %}
{% load static %}
{% comment %}
{% block title %}Home{% endblock title %}

{% block css %}

{% endblock css %}
{% endcomment %}


<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>

#seat-row li {
  display:inline;
  list-style-type:none;
}
#seat li {
    //display:inline;
    list-style-type:none;
}
.button {
    {% comment %}background-color: #ffffff;{% endcomment %}
    border: 2px solid #101210;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
</head>

<body>
<script>
    var seatInfo = JSON.parse("{{ seat_info|escapejs }}");
    var cnt = {};
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

    function myFunction(id) {

        var element = document.getElementById(id);
        if(cnt[id] == 1) {
            element.style.backgroundColor = "#09eb20";// green
            cnt[id] = 0;
        }
        else {
            element.style.backgroundColor = "#ffffff";// white
            cnt[id] = 1;
        }
    }

    function setColor(id, seatType) {
        cnt[id] = 1;// 1 means available
                    // 0 means you select it
        var color;
        var element = document.getElementById(id);
        element.title = id ;
        switch (seatType) {
            case 'AVAILABLE':
                color = "#ffffff";
                element.addEventListener("click", function() {
                    myFunction(id);
                });
                break;
            case 'BOOKED':
                color = "#e9f542";
                break;
            case 'SOLD':
                color = "#d90804";
                break;
            case 'DISABLED':
                color = "#59504f";
                break;
            default:
                color = "#000000";
        }
        element.style.backgroundColor = color;
    }
</script>
<h2>Seat</h2>
<ul id="seat">
    {% for row in "ABCDEFGHIJ" %}
        <li>
            <ul id="seat-row">
                {% for col in "1234" %}
                    <li><button data-toggle="tooltip" data-placement="top" id="{{ row|add:col }}" class="button"></button>
                    <script>
                        id = "{{ row|add:col }}";
                        setColor(id, seatInfo[id]);
                    </script>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

</body>
</html>


