{% extends "busTicketBooking/base.html" %}
{% load static %}

{% block title %}Trip Details{% endblock title %}

{% block css %}
    .container-fluid{
        {% comment %}background-image: url({% static 'busTicketBooking/images/bus.jpg' %});{% endcomment %}
        background-size: cover;
    }

    .row{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #contain-title{
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4);
        border:1px solid rgba(0,0,0,0.1);
        border-radius:3px;
        color: white;
        padding: 10px 0px 10px 10px;
    }
    #btn-modify{
        width: 200px;
        height: 40px;
        background-color: red;
        border-color: red;
        color: white;
        font-weight: bold;
    }
    #total{
        color: white;
        font-weight: bold;
        font-size: 18px;
    }
    #btn-view-seats{
        background-color: green;
        border-color: green;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
    }
    #operator-bus-type{
        color: green;
        font-weight: bold;
        font-size: 17px;
    }
    .u-list, #operator-list {
        list-style-type: none;
    }
{% endblock css %}

{% block content %}
    <script>
        var tripList =JSON.parse("{{ trip_list|escapejs }}");
        var str = JSON.stringify(tripList, null, 4); // (Optional) beautiful indented output.
        console.log(str);
        // seat info
        var tripSeatList = JSON.parse("{{ trip_seat_list|escapejs }}");
        str = JSON.stringify(tripSeatList, null, 4); // (Optional) beautiful indented output.
        console.log(str)
    </script>
    <div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-4" id="contain-title">
				<span style="color: yellow;">ONWARD JOURNEY</span><br>
				{{ start_station }} To {{ destination }} On {{ date_of_journey }}
				</div>
				<div class="col-md-4 col-md-offset-4 text-center" style="padding: 10px 0px 10px 10px;" >
					<button id="btn-modify">Modify Search</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" id="total-bus"></div>
				<div class="col-md-4" id="total-operator">Total Operators Found : {{ t }}</div>
				<div class="col-md-4" id="total-seats">Total Seats Available : {{ b }}</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-2" style="padding-top: 10px; padding-bottom: 20px;">
				<span id="operator-bus-type">Operator</span><br>
                <ul id="operator-list">
                </ul>
				<br>
				<span id="operator-bus-type">Bus Type</span><br>
				<input type="checkbox" name="ac" onclick="filterTripList()">AC<br>
				<input type="checkbox" name="nonac" onclick="filterTripList()">Non-AC
			</div>
			<div class="col-md-10">

			<table id="trip-table" class="table table-condensed">
    			<thead>
     				<tr style="background-color: silver;">
        				<th >Operator(Bus Type)</th>
        				<th >Dep. Time</th>
        				<th >Arr. Time</th>
        				<th >Available seats</th>
        				<th >Fare</th>
      				</tr>
    			</thead>
    			<tbody>
			    </tbody>
			</table>


			</div>

		</div>
	</div>
    <script>
        function myFunc() {
            // total bus
            var element = document.getElementById("total-bus");
            element.innerText = "Total Buses Found: " + tripList.length;

            // total operator
            var operator = {};
            var numOfOperator = 0;
            for(var i = 0; i < tripList.length; i++) {
                var trip = tripList[i].fields;
                if(operator[trip.bus[0]] == undefined) {
                     numOfOperator += 1;
                    operator[trip.bus[0]] = true;
                }
            }
            element = document.getElementById("total-operator");
            element.innerText = "Total Operator Found: " + numOfOperator;

            //total seats available
            var totalNumOfSeats = 0;
            for(let i = 0; i < tripList.length; i++) {
                const trip_id = tripList[i].pk;
                totalNumOfSeats += getNumOfAvailableSeatsOfTrip(trip_id);
            }
            element = document.getElementById("total-seats");
            element.innerText = "Total Seats Found: " + totalNumOfSeats;
        }
        myFunc();
        function getNumOfAvailableSeatsOfTrip(trip_id) {
            var numOfAvailableSeats = 0;
            for(let i = 0; i <tripSeatList.length; i++)
            {
                var tripSeat = tripSeatList[i].fields;
                if(tripSeat.trip == trip_id && tripSeat.status == 'AVAILABLE') {
                    numOfAvailableSeats += 1;
                }
            }
            return numOfAvailableSeats;
        }
        function addRow(trip, trip_id)
        {
            if (!document.getElementsByTagName) return;
            let tabBody = document.getElementsByTagName("tbody").item(0);
            let row = document.createElement("tr");
            row.style.marginTop = "50px";

            // first col
            let firstCol =
                '<td>' + trip.bus[0] + '<br>' +
                    trip.bus[1] + ',' + ((trip.bus[2] == true)? ' AC': ' NON AC') + '<br>' +
                    '<span style="font-weight: bold;">Route:</span>' + trip.description +
                '</td>';
            row.innerHTML = firstCol;

            //second col
            // time conversion
            var timeIn24HourFormat = datetime_to_time(trip.start_time, 11);
            var timeIn12HourFormat = convertFrom24To12Hour(timeIn24HourFormat);
            let startTime = '<td style="vertical-align: middle;">' + timeIn12HourFormat + '</td>'
            row.innerHTML += startTime;

            //third col
            timeIn24HourFormat = datetime_to_time(trip.end_time, 0);
            timeIn12HourFormat = convertFrom24To12Hour(timeIn24HourFormat);
            let endTime = '<td style="vertical-align: middle;">' + timeIn12HourFormat + '</td>'
            row.innerHTML += endTime;

            //fourth col
            let seat = '<td style="vertical-align: middle;">' + getNumOfAvailableSeatsOfTrip(trip_id) + '</td>'
            row.innerHTML += seat;

            // last col
            let lastCol =
                '<td style="vertical-align: middle;">' +
                    '<span style="font-size: 20px; color: green;">' + trip.fare + 'TK</span> <br>' +
                    '<button id="btn-view-seats">view seats</button>' +
                '</td>'
            row.innerHTML += lastCol;

            tabBody.appendChild(row);
        }
        function populateTableForTrip(tripList) {
            $("#trip-table tbody tr").remove();
            for(var i = 0; i < tripList.length; i++)
            {
                const trip = tripList[i].fields;
                const trip_id = tripList[i].pk;
                addRow(trip, trip_id);
            }
        }
        populateTableForTrip(tripList);
        //2020-01-30T06:00:00Z
        function datetime_to_time(datetime, startPosition) {
            return datetime.substr(startPosition, 5);
        }
        function convertFrom24To12Hour(timeIn24HourFormat) {
            var hour = timeIn24HourFormat.substr(0, 2);
            var minute = timeIn24HourFormat.substr(3, 2);
            const isAM = hour < 12 ? true: false;
            hour %= 12;
            if(hour == 0) {
                hour = 12;
            }
            return hour + ':' + minute + (isAM ? 'AM': 'PM');
        }
        function joinWordsByUnderscore(word) {
            var temp = word.split(" ");
            return temp.join('_');
        }
        function getOperatorList() {
            var operatorList = []
            for(var i = 0; i < tripList.length; i++)
            {
                const trip = tripList[i].fields;
                const operator = trip.bus[0];
                operatorList.push(operator);
            }
            return Array.from(new Set(operatorList));
        }
        function addOperatorList(id) {
            var uList = document.getElementById(id);
            let operatorList = getOperatorList();
            for(let i = 0; i < operatorList.length; i++) {
                // create a list item for this operator and add them to uList
                let list = '<li>' + '<input type="checkbox" name=' + joinWordsByUnderscore(operatorList[i]) + ' onclick="filterTripList()">' + operatorList[i] + '</li>'
                uList.innerHTML += list;
            }
        }
        addOperatorList("operator-list");
        function filterTripList() {
            var filteredTripList = [];
            let operatorList = getOperatorList();
            for(let i = 0; i < operatorList.length; i++) {
                let operator = joinWordsByUnderscore(operatorList[i]);
                let element = document.getElementsByName(operator)[0];
                if(!element.checked) {
                    continue;
                }
                for(let j = 0; j < tripList.length; j++)
                {
                    const trip = tripList[j].fields;
                    if(trip.bus[0] == element.name) {
                        filteredTripList.push(tripList[j]);
                    }
                }
            }
            let busTypeList = ['ac', 'nonac'];
            for(let i = 0; i < busTypeList.length; i++) {
                let element = document.getElementsByName(busTypeList[i])[0];
                if(!element.checked) {
                    continue;
                }
                for(let j = 0; j < tripList.length; j++)
                {
                    const trip = tripList[j].fields;
                    if(trip.bus[2] == true && element.name == "ac") {
                        filteredTripList.push(tripList[j]);
                    } else if(trip.bus[2] == false && element.name == 'nonac') {
                        filteredTripList.push(tripList[j]);
                    }
                }
            }
            filteredTripList =  Array.from(new Set(filteredTripList));
            if(filteredTripList.length == 0) {
                populateTableForTrip(tripList);
            } else {
                populateTableForTrip(filteredTripList);
            }
        }
    </script>

{% endblock content %}