{% extends "busTicketBooking/base.html" %}
{% load static %}

{% block title %}Trip Details{% endblock title %}

{% block css %}
    .container-fluid{
        {% comment %}background-image: url({% static 'busTicketBooking/images/bus.jpg' %});{% endcomment %}
        background-size: cover;
    }

    .row{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #contain-title{
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4);
        border:1px solid rgba(0,0,0,0.1);
        border-radius:3px;
        color: white;
        padding: 10px 0px 10px 10px;
    }
    #btn-modify{
        width: 200px;
        height: 40px;
        background-color: red;
        border-color: red;
        color: white;
        font-weight: bold;
    }
    #total{
        color: white;
        font-weight: bold;
        font-size: 18px;
    }
    #btn-view-seats{
        background-color: green;
        border-color: green;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
    }
    #operator-bus-type{
        color: green;
        font-weight: bold;
        font-size: 17px;
    }
    .u-list {
        list-style-type: none;
    }
{% endblock css %}

{% block content %}
    <script>
        var tripList =JSON.parse("{{ trip_list|escapejs }}");
        var str = JSON.stringify(tripList, null, 4); // (Optional) beautiful indented output.
        console.log(str);
        // seat info
        var tripSeatList = JSON.parse("{{ trip_seat_list|escapejs }}");
        str = JSON.stringify(tripSeatList, null, 4); // (Optional) beautiful indented output.
        console.log(str)
    </script>
    <div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-4" id="contain-title">
				<span style="color: yellow;">ONWARD JOURNEY</span><br>
				{{ start_station }} To {{ destination }} On {{ date_of_journey }}
				</div>
				<div class="col-md-4 col-md-offset-4 text-center" style="padding: 10px 0px 10px 10px;" >
					<button id="btn-modify">Modify Search</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" id="total-bus"></div>
				<div class="col-md-4" id="total-operator">Total Operators Found : {{ t }}</div>
				<div class="col-md-4" id="total-seats">Total Seats Available : {{ b }}</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-2" style="padding-top: 10px; padding-bottom: 20px;">
				<span id="operator-bus-type">Operator</span><br>
				<input type="checkbox" name="cbox">Tunggipara Express<br>
				<input type="checkbox" name="cbox">Hanif Express<br>
				<input type="checkbox" name="cbox">Green Line<br>
				<br>
				<span id="operator-bus-type">Bus Type</span><br>
				<input type="checkbox" name="cbox">AC<br>
				<input type="checkbox" name="cbox">Non-AC
			</div>
			<div class="col-md-10">

			<table class="table table-condensed">
    			<thead>
     				<tr style="background-color: silver;">
        				<th >Operator(Bus Type)</th>
        				<th >Dep. Time</th>
        				<th >Arr. Time</th>
        				<th >Available seats</th>
        				<th >Fare</th>
      				</tr>
    			</thead>
    			<tbody>
			    </tbody>
			</table>


			</div>

		</div>
	</div>
    <script>
        function myFunc() {
            // total bus
            var element = document.getElementById("total-bus");
            element.innerText = "Total Buses Found: " + tripList.length;

            // total operator
            var operator = {};
            var numOfOperator = 0;
            for(var i = 0; i < tripList.length; i++) {
                var trip = tripList[i].fields;
                if(operator[trip.bus[0]] == undefined) {
                     numOfOperator += 1;
                    operator[trip.bus[0]] = true;
                }
            }
            element = document.getElementById("total-operator");
            element.innerText = "Total Operator Found: " + numOfOperator;

            //total seats available
            var totalNumOfSeats = 0;
            for(let i = 0; i < tripList.length; i++) {
                const trip_id = tripList[i].pk;
                totalNumOfSeats += getNumOfAvailableSeatsOfTrip(trip_id);
            }
            element = document.getElementById("total-seats");
            element.innerText = "Total Seats Found: " + totalNumOfSeats;
        }
        myFunc();
        function getNumOfAvailableSeatsOfTrip(trip_id) {
            var numOfAvailableSeats = 0;
            for(let i = 0; i <tripSeatList.length; i++)
            {
                var tripSeat = tripSeatList[i].fields;
                if(tripSeat.trip == trip_id && tripSeat.status == 'AVAILABLE') {
                    numOfAvailableSeats += 1;
                }
            }
            return numOfAvailableSeats;
        }
        function addRow(trip, trip_id)
        {
            if (!document.getElementsByTagName) return;
            var tabBody=document.getElementsByTagName("tbody").item(0);
            var row=document.createElement("tr");
            row.style.marginTop = "50px";

            // first col
            var firstCol = document.createElement("td");
            var myList = document.createElement("ul");
            myList.className="u-list";

            // 1st row of ul
            var listItem = document.createElement("li");
            var listValue = createSpanElement(trip.bus[0]);
            listItem.appendChild(listValue);
            myList.appendChild(listItem);

            //2nd row of ul list
            listItem = document.createElement("li");
            var content = trip.bus[1] + ',';
            if(trip.bus[2] == true) {
                content += " AC";
            } else {
                 content += " NON AC";
            }
            listValue = document.createTextNode(content);
            listItem.appendChild(listValue);
            myList.appendChild(listItem);


            //3rd row of ul list
            listItem = document.createElement("li");
            listValue = createSpanElement("Route: ");
            listItem.appendChild(listValue);
            var textnodeForFirstCol = document.createTextNode(trip.description);
            listItem.appendChild(textnodeForFirstCol);
            myList.appendChild(listItem);

            firstCol.appendChild(myList);
            row.appendChild(firstCol);

            //second col
            var startTime = document.createElement("td");
            startTime.style.verticalAlign = "middle";
            // time conversion
            var timeIn24HourFormat = datetime_to_time(trip.start_time, 11);
            var timeIn12HourFormat = convertFrom24To12Hour(timeIn24HourFormat);
            startTime.innerText = timeIn12HourFormat;
            row.appendChild(startTime);
            datetime_to_time(trip.start_time);

            //third col
            var endTime = document.createElement("td");
            endTime.style.verticalAlign = "middle";
            // time conversion
            timeIn24HourFormat = datetime_to_time(trip.end_time, 0);
            timeIn12HourFormat = convertFrom24To12Hour(timeIn24HourFormat);
            endTime.innerText = timeIn12HourFormat;
            row.appendChild(endTime);

            //fourth col
            var seat = document.createElement("td");
            seat.style.verticalAlign = "middle";
            const numOfAvailableSeats = getNumOfAvailableSeatsOfTrip(trip_id);
            seat.innerText = numOfAvailableSeats.toString();
            row.appendChild(seat);

            // last col
            var lastCol = document.createElement("td");
            lastCol.style.verticalAlign = "middle";

            // create unordered list
            myList = document.createElement("ul");
            myList.className="u-list";

            //1
            listItem = document.createElement("li");
            var spanElement = createSpanElement(trip.fare + ' TK');
            spanElement.fontSize = "20px";
            spanElement.color = "green";
            var listValue = spanElement;
            listItem.appendChild(listValue);
            myList.appendChild(listItem);

            //2
            listItem = document.createElement("li");
            var btn = document.createElement('BUTTON');
            btn.id = "btn-view-seats";
            btn.innerText = 'view-seats';
            listItem.appendChild(btn);

            myList.appendChild(listItem);
            lastCol.appendChild(myList);

            row.appendChild(lastCol);
            tabBody.appendChild(row);
        }
        function createSpanElement(content) {
            var spanElement = document.createElement("SPAN");
            spanElement.style.fontWeight= "bold";
            var textContent = document.createTextNode(content);
            spanElement.appendChild(textContent);
            return spanElement;
        }

        function populateTableForTrip() {
            for(var i = 0; i < tripList.length; i++)
            {
                const trip = tripList[i].fields;
                const trip_id = tripList[i].pk;
                addRow(trip, trip_id);
            }
        }
        populateTableForTrip();
        //2020-01-30T06:00:00Z
        function datetime_to_time(datetime, startPosition) {
            return datetime.substr(startPosition, 5);
        }
        function convertFrom24To12Hour(timeIn24HourFormat) {
            var hour = timeIn24HourFormat.substr(0, 2);
            var minute = timeIn24HourFormat.substr(3, 2);
            const isAM = hour < 12 ? true: false;
            hour %= 12;
            if(hour == 0) {
                hour = 12;
            }
            return hour + ':' + minute + (isAM ? 'AM': 'PM');
        }
    </script>

{% endblock content %}